body{
    font-family: sans-serif;
}
h1 {
    text-align: center;
    font-size: 3em;
}

table, td {
    /*border: 2px solid black;*/
    border-radius: 5px;
}

.container {
    text-align: center;
    width: 100%;
    height: 100%;
}

table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    background: #baab9c;
    border-spacing: 0.8em;
}

td{
    text-align: center;
    width: 3em;
    height: 3em;
    color: red;
    background: #d9c7b6;
    font-weight: bolder;
    font-size: 2em;
}

.cell2, .cell4{
    color:rgb(116, 110, 103);
    background: rgb(235, 228, 220);
}
