body{
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: rgb(63, 63, 63);
}

table, td {
    border-radius: 5px;
}

.container {
    text-align: center;
    width: 100%;
    height: 100%;
}

table {
    margin: 0 auto;
    background: #baab9c;
    border-spacing: 0.8em;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes opacity_animation {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  /* Standard syntax */
  @keyframes opacity_animation {
    from {opacity: 0;}
    to {opacity: 1;}
  }

td{
    text-align: center;
    width: 3em;
    height: 3em;
    color:white;
    text-shadow: 1px 1px gray;
    box-shadow: 1px 1px gray;
    background: #d9c7b6;
    font-weight: bolder;
    font-size: 2em;
}

.cell{
    -webkit-animation-name: opacity_animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: opacity_animation;
    animation-duration: 0.2s;
}

.cell2{
    color:rgb(116, 110, 103);
    background: rgb(235, 228, 220);
}

.cell4{
    color:rgb(116, 110, 103);
    background: rgb(233, 222, 200);
}

.cell8    { background: rgb(225, 179, 135);  }
.cell16   { background: rgb(201, 159, 120);  }
.cell32   { background: rgb(211, 141, 118);  }
.cell64   { background: rgb(213, 113, 85 );  }
.cell128  { background: rgb(229, 204, 132);	 }
.cell256  { background: rgb(255, 221, 118);	 }
.cell512  { background: rgb(255, 223, 79 );	 }
.cell1024 { background: rgb(255, 201, 85 );	 }
.cell2048 { background: rgb(255, 191, 0  );	 }


